body {
    background-color: #121212;
}

.team {
    margin-top: 16px;
    width: 50%;
}

.divider {
    margin-top: 16px;
    width: 100%;
    height: 0.1px;
    background-color: white;
}


.trans {
    /* opacity: 0; */
    /* transform: translate(0, 10vh); */
    /* transition: all 1s; */
    animation: fadeIn 1s;
    /* transform: translate(10px, 0px); */
}

.transcroll {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.transcroll.visible {
    opacity: 1;
    transform: translate(0, 0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0px, 30px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}